.DS_Store
*.pdf
*.csv
*.npy
*.jpeg
*.jpg
.venv/
*.pyc
*.aux
*.fls
*.log
*.gz
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
Astro Seminars/
*.fits
*.bbl
*.blg
*.dvi
*.img
Observational Techniques/Data/
*.HTML
Observational Techniques/Lectures/
*.bak*
